//////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

//////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  // making flex item a container (nested flex), useful for aligning small items easily
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit; // remember inputs do not inherit automatically font properties
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; // so button moves on top of input

    // gives nice animation on search box which makes it expand slightly on focus
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    // remember webkit only works for safari and chrome browsers
    &::-webkit-input-placeholder {
      // changing colour of input box placeholder text so it is lighter when not focused on
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // to get magnifying glass same colour as input box
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px); // want to move slightly down on click
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // sets colour of svg
  }
}

//////////////////
// USER NAV
.user-nav {
  background-color: green;
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
