.container {
  // we use max-width so container can decrease if there is not enough space
  max-width: 120rem; // 1200px, occupy 100% vw if less
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; // testing purposes

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem; // 70px
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-items: space-around;
    height: 12rem; // adding height to account for items being on different lines
  }
}

.content {
  // to use flex-box set display of container to flex
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // dont want grow, or shrink if there is space but keep it at 18%
  flex: 0 0 18%;

  display: flex;
  flex-direction: column; // justify content is usually left to right so changing direction means we can align vertically
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // we want it occupy entire remaining space, so 'grow' as much as it can
  flex: 1; // 1 means grows as much as it can
}

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  // decreasing padding on medium screens
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  // changing display of details so they are on top of eachother for smaller screens
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%; // set first two to 0 if you are using percentage
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem; // this is to match padding of detail

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1; // grows to fill up space

  display: flex;
  flex-direction: column;
  align-items: center; // stops button stretching
}
