.container {
  // we use max-width so container can decrease if there is not enough space
  max-width: 100rem; // 1200px, occupy 100% vw if less
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; // testing purposes
}

.header {
  height: 7rem; // 70px
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  // to use flex-box set display of container to flex
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // dont want grow, or shrink if there is space but keep it at 18%
  flex: 0 0 18%;

  display: flex;
  flex-direction: column; // justify content is usually left to right so changing direction means we can align vertically
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // we want it occupy entire remaining space, so 'grow' as much as it can
  flex: 1; // 1 means grows as much as it can
}

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  flex: 0 0 60%; // set first two to 0 if you are using percentage
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1; // grows to fill up space

  display: flex;
  flex-direction: column;
  align-items: center; // stops button stretching
}
